body{
    background-color: white;
}

.container{
    margin:0 5rem;
}
[class*="col-"]{
    display: flex;
    justify-content: center;
    align-items: center;

    border: 1px solid black;
    background-color: #fcc0cb;
    height: 250px;
    font-weight: bold;
}

footer .col-6{
    padding: 10px;
}

footer .col-6 .row [class*="col-"]{
    height: 230px;
    padding: 1.5rem;
    
    background-color: #f07f80;
    border: 1px solid white;
    
}


