.container{
    margin:5rem 15rem;
}
[class*="col-"]{
       height: 20px;
}

/* GIALLI */
.y1{
    background-color: #FEF200;
}

/* ARANCIONE */
.or1{
    background-color: #F74F24;
}

.or2{
    background-color: #FE8E15;
}



/* NERO */
.black{
    background-color: black;
}

.green{
    background-color: green;
}

.st{
    background-color: rgb(49, 48, 48);
    
}



/* GESTIONE BORDI */
/* .br-top{
    border-top:2px solid black;
}

.br-bottom{
    border-bottom:2px solid black;
}
.br-left{
    border-left: 2px solid black;
}
.br-right{
    border-right: 2px solid black;
} */